@if (item.children && item.children.length > 0) {
    <div class="aside-item flex items-center cursor-pointer py-2" [style.paddingLeft.px]="padding">
        @if (item.icon) {
            <svg-loader [name]="item.icon" [size]="paddingStep"></svg-loader>
        }
        {{ item.title | translate }}
    </div>
} @else {
    <div class="aside-item flex items-center cursor-pointer py-2" routerLinkActive="router-active" [routerLink]="item.path" [style.paddingLeft.px]="padding">
        @if (item.icon) {
            <svg-loader [name]="item.icon" [size]="paddingStep"></svg-loader>
        }
        {{ item.title | translate }}
    </div>
}