@reference "tailwindcss";

@layer selectors {

    tfe-root {
        @apply h-full w-full overflow-hidden block relative z-0 p-2 md:p-4;
    }

    tfe-layout {
        @apply h-full w-full overflow-visible relative z-0 flex gap-2 md:gap-4;
    }

    tfe-aside {
        @apply h-full w-fit min-w-52 max-w-md overflow-visible relative z-0 rounded-xl;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    tfe-main {
        @apply h-full w-full overflow-visible relative z-0 p-2 md:p-4 rounded-xl;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    svg-loader {
        @apply inline-block w-fit h-fit;
    }

    theme-toggle {
        @apply inline-block w-fit h-fit;
    }

    url-layout {
        @apply cursor-pointer;
    }
}
